.page{
    width: 100%;
    height: 30%;
    position: absolute;
}

.middle-text{
    position: relative;
    height: 30%;
}

.tags {
    color: #ffff;
    opacity: 1;
    font-weight: 500;
    position: absolute;
    bottom: 0;
    left: 10%;
    font-size: 28px;
    font-family: 'VT323', serif;
  }