@import '~loaders.css/src/animations/ball-pulse-sync.scss';


.home-section{
  height: auto;
  width:100%;
  padding: 100px 0;
  padding-top: 180px;
  
  div {
    animation: fade linear both;
    animation-timeline: view();
    animation-range: var(--fade-ranges);
  }  
    .home-page{
      box-sizing: border-box;
      padding: 0 30px;
      margin: 0 auto;
      width: var(--width);

      @media (max-width: 1220px) {
        width: 90vw;
      }

      .flex-box{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 10px;
        height: auto;

        @media (max-width: 1220px) {
          flex-direction: column-reverse;
          gap: 0px;
        }

        h1{
          color: white;
          font-size: 30px;
          font-weight: 200;
          width: auto;
          .welcome{
            font-size: 55px;
          }
          .wave{
            animation: wave 2s ease-in-out infinite;  
            height: 100px;
            width: 100px;
          }
          .name{
            color: #95bbd8; 
            font-size: 40px;
          }
        }
        .flat-button {
          color: #c2ced7;
          font-size: 18px;
          letter-spacing: 4px;
          text-decoration: none;
          padding: 8px 18px;
          border: 3px solid #c2ced7;
          float: left;
          white-space: nowrap;
          margin-bottom: 10px;

          &:hover {
            background: #c2ced7;
            color: #333;
            animation: hover 1.5s ease-in-out infinite;

            .anchor-icon{
              color: #333;
            }
          }
        }

        .photo-zone{
          align-self: center;
          justify-content: center;
          align-items: center;
          img{
            position: center;
            height: 400px;
            width: 400px;
            animation: morph 5s ease-in-out infinite;  
            background-repeat: no-repeat;
            background-size: cover;
            border: 3px solid white;
            border-radius:  60% 40% 30% 70%/60% 30% 70% 40%;
            position: relative;
            transition: all 1s ease-in-out;
            
            @media (max-width: 1220px) {
              height: auto;
              width: 40vw;
            }
          }
        }
      }
  }
}


.about-section{
  height: auto;
  width: 100%;
  padding: 100px 0;

  div {
    animation: fade linear both;
    animation-timeline: view();
    animation-range: var(--fade-ranges);
  }  

  .about-page{
    box-sizing: border-box;
    padding: 0 30px;
    margin: 0 auto;
    width: var(--width);
    height: auto;
    @media (max-width: 1220px) {
      width: 90vw;
    }
    .flex-box{
      display: flex;
      flex-direction: column;
      @media (max-width: 1220px) {
        align-items: center;
        width: 100%;
      }
      .header{
        font-size: var(--title-font-size);
        margin-bottom: 10px;
      }
      .content-area{
        width: 100%;
        background-color: #181818;
        border-radius: var(--border-radius);
        box-shadow: var(--shadow-values);
        .description-text{
          font-size: 25px;
          border-radius: var(--border-radius);
          padding: 0 20px;
          p{
            font-weight: lighter;
          }

        }
        .image-area{
          display: flex;
          flex-direction: row;
          border-radius: var(--border-radius);
          align-items: center;
          justify-content: space-evenly;
          padding: 0 10px;

          h2{
            font-size: var(--title-font-size);
            font-weight: 100;
          }

          .vertical-bar{
            height: 70px;
            width: 0.1px;
            border: 1px solid white;
            opacity: 0.5;
            background-color: white;
            border-radius: var(--border-radius);
          }

          .skills-images{
            display: flex;
            justify-content: space-between;
            // animation: slide 5s linear infinite;


            .skill {
              margin: 20px 0;
              max-width: 100px;
              max-height: 100px;
              height: auto;
              width:10%;
            }
          }
        }
      }
    }
  }
}

.education-section{
  height: auto;
  width: 100%;
  padding: 100px 0;

  div {
    animation: fade linear both;
    animation-timeline: view();
    animation-range: var(--fade-ranges);
  }  

  .education-page{
    box-sizing: border-box;
    padding: 0 30px;
    margin: 0 auto;
    width: var(--width);
    height: auto;
    @media (max-width: 1220px) {
      width: 90vw;
    }
    .flex-box{
      display: flex;
      flex-direction: column;

      @media (max-width: 1220px) {
        align-items: center;
      }

      .title{
        font-size: var(--title-font-size);
        font-weight: 100;
        margin: 0;
        margin-bottom: 10px;
      }

      .description-area{
        width: 100%;
        .cornell{
          display: flex;
          flex-direction: column;
          background-color: #181818;
          box-shadow: var(--shadow-values);
          border-radius: var(--border-radius);
          padding: 20px;
          font-size: 25px;
          margin-bottom: 35px;
          .cornell-title{
            display: flex;
            justify-content: space-between;
            p{
              margin: 0 0 5px;
            }
            .title{
              font-size: var(--title-font-size);
            }
          }
        }
        .brhs{
          display: flex;
          flex-direction: column;
          background-color: #181818;
          box-shadow: var(--shadow-values);
          border-radius: var(--border-radius);
          padding: 20px;
          font-size: 25px;
          .brhs-title{
            display: flex;
            justify-content: space-between;
            p{
              margin: 0 0 5px;
            }
            .title{
              font-size: var(--title-font-size);
            }
          }
        }
      }
    }
  }
}



.experience-section{
  height: auto;
  width:100%;
  padding: 100px 0;
  
  di, p {
    animation: fade linear both;
    animation-timeline: view();
    animation-range: var(--fade-ranges);
  }  

    .experience-page{
      box-sizing: border-box;
      padding: 0 30px;
      margin: 0 auto;
      width: var(--width);
      height: auto;

      @media (max-width: 1220px) {
        width: 90vw;
        padding: 0;
      }

      .flex-box{
        display: flex;
        flex-direction: column;

        @media (max-width: 1220px) {
          align-items: center;
        }
        .title{
          font-size: var(--title-font-size);
          font-weight: 200;
          margin: 0;
          animation: fade linear both;
          animation-timeline: view();
          animation-range: var(--fade-ranges);
        }
        .title-sub{
          font-size: 25px;
          font-weight: 100;
          margin-top: 10px;
          margin-bottom: 10px;

          @media (max-width: 1220px) {
            font-size: 20px;
          }

        }

        .job-content{
          box-sizing: border-box;
          display: flex;
          width: 100%;
          height: auto;
          margin-bottom: 35px;
          border-radius: var(--border-radius);
          box-shadow: var(--shadow-values);
          background-color: #181818;
          animation: fade linear both;
          animation-timeline: view();
          animation-range: var(--fade-ranges);
          
          @media (max-width: 1220px) {
              flex-direction: column;
              align-items: center;
              width: 70vw;
          }

          .description-area{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: calc(50% - 20px);
            margin: 0 10px;

            @media (max-width: 1220px) {
              width: 100%;
            }

            .title-text{
              text-align: center;
              font-size: 30px;
              font-weight: 200;
              margin-bottom: 0;
              padding: 0 10px;
            }

            .position-text{
              text-align: center;
              font-size: 20px;
              margin: 10px 0;
            }

            .description-text{
              text-align: center;
              font-size: 20px;
              padding: 0 10px;
            }
            .lang-area{
              display: none;
              width: auto;
              height: auto;
              flex-wrap: wrap;
              justify-content: center;
              .lang{
                box-sizing: border-box;
                font-size: 20px;
                padding: 5px 5px;
                margin: 5px 5px;
                border-radius: var(--border-radius);
                box-shadow: var(--shadow-values);
              }
            }

            #viz-lang{ 
              display: flex;             
              :nth-child(8){
                display: none;
              }
            }
          }

          .image-area{
            display: flex;
            width: 50%;
            margin: 15px 0;
            height: auto;
            align-items: center;



            @media (max-width: 1220px) {
              flex-direction: column;
              width: 100%;
            }
            a{
              display: flex;
              justify-content: space-around;
              width: auto;
              margin: 0 8px;

              .image-prop{
                width: 95%;
                border-radius: var(--border-radius);
                box-shadow: var(--shadow-values);
                &:hover{
                  animation: hover 1.5s ease-in-out infinite;
                }
              }
            }
          }
        }
    }
  }
}

.line{
  margin: auto;
  height: 0.1px;
  width: var(--width);
  border: 1px solid white;
  opacity: 0.5;
  background-color: white;
  border-radius: var(--border-radius);
  animation: fade linear both;
  animation-timeline: view();
  animation-range: var(--fade-ranges);    

  @media (max-width: 1220px){
    width: 90vw;
  }
}


@media (max-width: 1220px) {
  #experience1{
    order: -1;
  }
}

@keyframes morph{
  0% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  
  50% {
      border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  }
  
  @keyframes wave {
  0% {
      transform: rotate(-15deg);
  }
  
  
  50% {
      transform: rotate(10deg);
  }
  
  
  100% {
      transform: rotate(-15deg);
  }
  }

@keyframes hover {
  0%{
    transform: scale(1,1);
  }
  
  50%{
    transform: scale(1.05,1.05);
  }
  
  100%{
    transform: scale(1,1);
  }
  }

@keyframes fade {
  0%{
    opacity: 0;
    filter: blur(3px);
    transform: translatey(300px);
  }
  100%{
    opacity: 1;
    filter: blur(0);
    transform: translatey(0px);
  }
}

// @keyframes slide {
//   0% {
//       transform: translateX(calc(10px * -1))
//   }

//   100% {
//       transform: translateX(calc(-100% - 10px * 2))
//   }
// }

