@import '~loaders.css/src/animations/ball-pulse-sync.scss';

.home-section {
  animation: fadeIn 2s;
  .home-page {
    .flex-box {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 10px;
      height: auto;

      @media (max-width: 1220px) {
        flex-direction: column-reverse;
        gap: 0px;
      }

      h1 {
        font-size: 30px;
        width: auto;
        @media (max-width: 600px) {
          font-size: 25px;
        }
        .welcome {
          font-size: 55px;
          @media (max-width: 600px) {
            font-size: 35px;
          }
        }
        .wave {
          animation: wave 2s ease-in-out infinite;
          height: 100px;
          width: 100px;
          @media (max-width: 600px) {
            height: 70px;
            width: 70px;
          }
        }
        .name {
          color: #95bbd8;
          font-size: 40px;
          @media (max-width: 600px) {
            font-size: 35px;
          }
        }
      }
      .flat-button {
        color: var(--font-color);
        font-size: 18px;
        letter-spacing: 1px;
        text-decoration: none;
        padding: 8px 18px;
        border: 3px solid var(--font-color);
        white-space: nowrap;
        margin-bottom: 10px;
        transition: all 0.5s ease;

        @media (max-width: 600px) {
          font-size: 16px;
        }

        &:hover {
          background: var(--font-color);
          color: var(--background-color);
          transform: scale(1.1, 1.1);

          .anchor-icon {
            color: var(--background-color);
          }
        }
      }

      .photo-zone {
        align-self: center;
        justify-content: center;
        align-items: center;
        img {
          position: center;
          height: 400px;
          width: 400px;
          animation: morph 5s ease-in-out infinite;
          background-repeat: no-repeat;
          background-size: cover;
          border: 3px solid white;
          border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
          position: relative;
          transition: all 1s ease-in-out;

          @media (max-width: 1220px) {
            height: auto;
            width: min(300px, 70vw);
          }
        }
      }
    }
  }
}

.education-section {
  .education-page {
    .flex-box {
      display: flex;
      flex-direction: column;

      @media (max-width: 1220px) {
        align-items: center;
      }

      .title {
        font-size: var(--title-font-size);
        margin: 0;
        margin-bottom: 10px;
      }

      .description-area {
        width: 100%;
        .cornell {
          display: flex;
          flex-direction: column;
          // background-color: var(--secondary-background-color);
          background-image: var(--secondary-background-gradient);
          box-shadow: var(--shadow-values);
          border-radius: var(--border-radius);
          padding: 20px;
          font-size: 25px;
          margin-bottom: 35px;
          .cornell-title {
            display: flex;
            justify-content: space-between;
            p {
              margin: 0 0 5px;
            }
            .title {
              font-size: var(--title-font-size);
            }
          }
        }
        .brhs {
          display: flex;
          flex-direction: column;
          // background-color: var(--secondary-background-color);
          background-image: var(--secondary-background-gradient);

          box-shadow: var(--shadow-values);
          border-radius: var(--border-radius);
          padding: 20px;
          font-size: 25px;
          .brhs-title {
            display: flex;
            justify-content: space-between;
            p {
              margin: 0 0 5px;
            }
            .title {
              font-size: var(--title-font-size);
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1220px) {
  #experience1 {
    order: -1;
  }
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

@keyframes wave {
  0% {
    transform: rotate(-15deg);
  }

  50% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(-15deg);
  }
}

// @keyframes slide {
//   0% {
//       transform: translateX(calc(10px * -1))
//   }

//   100% {
//       transform: translateX(calc(-100% - 10px * 2))
//   }
// }
