@import '~loaders.css/src/animations/ball-pulse-sync.scss';


.home-section{
  padding-top: 180px;
    .home-page{
      .flex-box{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 10px;
        height: auto;

        @media (max-width: 1220px) {
          flex-direction: column-reverse;
          gap: 0px;
        }

        h1{
          font-size: 30px;
          width: auto;
          .welcome{
            font-size: 55px;
          }
          .wave{
            animation: wave 2s ease-in-out infinite;  
            height: 100px;
            width: 100px;
          }
          .name{
            color: #95bbd8; 
            font-size: 40px;
          }
        }
        .flat-button {
          color: var(--font-color);
          font-size: 18px;
          letter-spacing: 4px;
          text-decoration: none;
          padding: 8px 18px;
          border: 3px solid var(--font-color);
          float: left;
          white-space: nowrap;
          margin-bottom: 10px;
          transition: all 0.5s ease;



          &:hover {
            background: var(--font-color);
            color: var(--background-color);
            transform: scale(1.1,1.1);

            .anchor-icon{
              color: var(--background-color);
            }
          }
        }

        .photo-zone{
          align-self: center;
          justify-content: center;
          align-items: center;
          img{
            position: center;
            height: 400px;
            width: 400px;
            animation: morph 5s ease-in-out infinite;  
            background-repeat: no-repeat;
            background-size: cover;
            border: 3px solid white;
            border-radius:  60% 40% 30% 70%/60% 30% 70% 40%;
            position: relative;
            transition: all 1s ease-in-out;
            
            @media (max-width: 1220px) {
              height: auto;
              width: 40vw;
            }
          }
        }
      }
  }
}


.about-section{
  .about-page{
    .flex-box{
      display: flex;
      flex-direction: column;
      @media (max-width: 1220px) {
        align-items: center;
        width: 100%;
      }
      .header{
        font-size: var(--title-font-size);
        margin-bottom: 10px;
      }
      .content-area{
        width: 100%;
        background-color: var(--secondary-background-color);
        border-radius: var(--border-radius);
        box-shadow: var(--shadow-values);
        .description-text{
          font-size: 25px;
          border-radius: var(--border-radius);
          padding: 0 20px;


        }
        .image-area{
          display: flex;
          flex-direction: row;
          border-radius: var(--border-radius);
          align-items: center;
          justify-content: space-evenly;
          padding: 0 10px;

          h2{
            font-size: var(--title-font-size);
          }

          .vertical-bar{
            height: 70px;
            width: 0.1px;
            border: 1px solid white;
            opacity: 0.5;
            background-color: white;
            border-radius: var(--border-radius);
          }

          .skills-images{
            display: flex;
            justify-content: space-between;
            // animation: slide 5s linear infinite;


            .skill {
              margin: 20px 0;
              max-width: 100px;
              max-height: 100px;
              height: auto;
              width:10%;
            }
          }
        }
      }
    }
  }
}

.education-section{
  .education-page{
    .flex-box{
      display: flex;
      flex-direction: column;

      @media (max-width: 1220px) {
        align-items: center;
      }

      .title{
        font-size: var(--title-font-size);
        margin: 0;
        margin-bottom: 10px;
      }

      .description-area{
        width: 100%;
        .cornell{
          display: flex;
          flex-direction: column;
          background-color: var(--secondary-background-color);
          box-shadow: var(--shadow-values);
          border-radius: var(--border-radius);
          padding: 20px;
          font-size: 25px;
          margin-bottom: 35px;
          .cornell-title{
            display: flex;
            justify-content: space-between;
            p{
              margin: 0 0 5px;
            }
            .title{
              font-size: var(--title-font-size);
            }
          }
        }
        .brhs{
          display: flex;
          flex-direction: column;
          background-color: var(--secondary-background-color);
          box-shadow: var(--shadow-values);
          border-radius: var(--border-radius);
          padding: 20px;
          font-size: 25px;
          .brhs-title{
            display: flex;
            justify-content: space-between;
            p{
              margin: 0 0 5px;
            }
            .title{
              font-size: var(--title-font-size);
            }
          }
        }
      }
    }
  }
}



.experience-section{
    .experience-page{
      .flex-box{
        display: flex;
        flex-direction: column;

        @media (max-width: 1220px) {
          align-items: center;
        }
        .title{
          font-size: var(--title-font-size);
          margin: 0;
          animation: fade linear both;
          animation-timeline: view();
          animation-range: var(--fade-ranges);
        }
        .title-sub{
          font-size: 25px;
          margin-top: 10px;
          margin-bottom: 10px;

          @media (max-width: 1220px) {
            font-size: 20px;
          }

        }

        .job-content{
          box-sizing: border-box;
          display: flex;
          width: 100%;
          height: auto;
          margin-bottom: 35px;
          border-radius: var(--border-radius);
          box-shadow: var(--shadow-values);
          background-color: var(--secondary-background-color);
          animation: fade linear both;
          animation-timeline: view();
          animation-range: var(--fade-ranges);
          
          @media (max-width: 1220px) {
              flex-direction: column;
              align-items: center;
              width: 70vw;
          }

          .description-area{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: calc(50% - 20px);
            margin: 0 10px;

            @media (max-width: 1220px) {
              width: 100%;
            }

            .title-text{
              text-align: center;
              font-size: 30px;
              margin-bottom: 0;
              padding: 0 10px;
            }

            .position-text{
              text-align: center;
              font-size: 20px;
              margin: 10px 0;
            }

            .description-text{
              text-align: center;
              font-size: 20px;
              padding: 0 10px;
            }
            .lang-area{
              display: none;
              width: auto;
              height: auto;
              flex-wrap: wrap;
              justify-content: center;
              margin: 20px 0;
              .lang{
                box-sizing: border-box;
                font-size: 20px;
                padding: 5px 5px;
                margin: 5px 5px;
                border-radius: var(--border-radius);
                border: 1px solid white;
                transition: all 0.5s ease;
                &:hover{
                  background-color: var(--font-color);
                  color: var(--secondary-background-color);
                }
              }
            }
            #codology-lang{
              display: flex;
              :nth-child(4){
                display: none;
              }
              :nth-child(5){
                display: none;
              }
              :nth-child(6){
                display: none;
              }
              :nth-child(7){
                display: none;
              }
              :nth-child(8){
                display: none;
              }
            }
          }

          .image-area{
            display: flex;
            width: 50%;
            margin: 15px 0;
            height: auto;
            align-items: center;



            @media (max-width: 1220px) {
              flex-direction: column;
              width: 100%;
            }
            a{
              display: flex;
              justify-content: space-around;
              width: auto;
              margin: 0 8px;

              .image-prop{
                width: 95%;
                border-radius: var(--border-radius);
                box-shadow: var(--shadow-values);
                transition: all 0.5s ease;

                &:hover{
                  transform: scale(1.05,1.05);
                }
              }
            }
          } 
        }
    }
  }
}

.project-section{
  .project-page{
    .flex-box{
      display: flex;
      flex-direction: column;

      @media (max-width: 1220px) {
        align-items: center;
      }
      .title{
        font-size: var(--title-font-size);
        margin: 0;
        animation: fade linear both;
        animation-timeline: view();
        animation-range: var(--fade-ranges);
      }
      .title-sub{
        font-size: 25px;
        margin-top: 10px;
        margin-bottom: 10px;

        @media (max-width: 1220px) {
          font-size: 20px;
        }

      }
      .project-area{
        display: grid;
        grid-template-columns: 33% 33% 33%;

        @media (max-width: 1220px) {
          grid-template-columns: 50% 50%;
        }
        @media (max-width: 605px) {
          grid-template-columns: 100% ;
        }
        .project-content{
          box-sizing: border-box;
          display: flex;
          height: auto;
          margin: 10px;
          border-radius: var(--border-radius);
          box-shadow: var(--shadow-values);
          background-color: var(--secondary-background-color);
          animation: fade linear both;
          animation-timeline: view();
          animation-range: var(--fade-ranges);
          

          .description-area{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 10px;

            @media (max-width: 1220px) {
              width: 100%;
            }
              a{
                display: flex;
                justify-content: space-around;
                width: auto;
                margin: 10px 0;
    
                .image-prop{
                  width: 95%;
                  border-radius: var(--border-radius);
                  box-shadow: var(--shadow-values);
                  transition: all 0.5s ease;
    
                  &:hover{
                    transform: scale(1.05,1.05);
                  }
                }
              }
            
            .title-text{
              text-align: center;
              font-size: 30px;
              margin: 0;
              padding: 0 10px;
            }

            .lang-area{
              display: none;
              width: auto;
              height: auto;
              flex-wrap: wrap;
              justify-content: center;
              margin: 20px 0;
              .lang{
                box-sizing: border-box;
                font-size: 20px;
                padding: 5px 5px;
                margin: 5px 5px;
                border-radius: var(--border-radius);
                border: 1px solid white;
                transition: all 0.5s ease;
                &:hover{
                  background-color: var(--font-color);
                  color: var(--secondary-background-color);
                }
              }
            } 
            
            #portfolio-lang{
              display: flex;
              :nth-child(6){
                display: none;
              }
              :nth-child(7){
                display: none;
              }
              :nth-child(8){
                display: none;
              }
            }
            #viz-lang{ 
              display: flex;             
              :nth-child(8){
                display: none;
              }
            }
          }
        }
        
      }
    }
  }
}




.line{
  margin: auto;
  height: 0.1px;
  width: var(--width);
  border: 1px solid white;
  opacity: 0.5;
  background-color: white;
  border-radius: var(--border-radius);
  animation: fade linear both;
  animation-timeline: view();
  animation-range: var(--fade-ranges);    

  @media (max-width: 1220px){
    width: 95vw;
  }
}


@media (max-width: 1220px) {
  #experience1{
    order: -1;
  }
}

@keyframes morph{
  0% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  
  50% {
      border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  }
  
  @keyframes wave {
  0% {
      transform: rotate(-15deg);
  }
  
  
  50% {
      transform: rotate(10deg);
  }
  
  
  100% {
      transform: rotate(-15deg);
  }
  }




// @keyframes slide {
//   0% {
//       transform: translateX(calc(10px * -1))
//   }

//   100% {
//       transform: translateX(calc(-100% - 10px * 2))
//   }
// }

