.nav-bar{
  background: #181818;
  width: 100%;
  height: 60px;
  position: absolute;
  z-index: 3;


  .logo {
    position: absolute;
    left: 0px;
    display: block;
    padding: 4px 0;

    img {
      display: absolute;
      width: 50px;
      height: 50px;

      &.sub-logo {
        width: auto;
        display: absolute;
        
      }
    }
  }

  nav {
    display: inline-block;
    position: absolute;
    right: 0;
    margin-right: 85px;
    top: 7px;
    width: auto;
    background-color: #181818;

    a {
      font-size: 37px;
      color: #4d4d4e;
      display: inline-block;
      width: auto;
      text-decoration: none;
      margin-left: 15px;
      margin-right: 15px;

      &:hover {
        svg {
          color: #c2ced7;
        }
      }
    }
    
  }

}
    
