.experience-page{
    height: 100%;
    width:100%;
    overflow: auto;

    .text-zone{
        position: absolute;
        left: 9%;
        top: 12%;
        color: White;
        font-size: 30px;
    }
}