.experience-section {
  .experience-page {
    .flex-box {
      display: flex;
      flex-direction: column;

      @media (max-width: 1220px) {
        align-items: center;
      }
      .title {
        font-size: var(--title-font-size);
        margin: 0 0 10px;
        animation: fade linear both;
        animation-timeline: view();
        animation-range: var(--fade-ranges);
      }
      .title-sub {
        font-size: 25px;
        margin-top: 10px;
        margin-bottom: 10px;

        @media (max-width: 1220px) {
          font-size: var(--responsive-font-size-small);
        }
      }

      .job-content {
        box-sizing: border-box;
        display: flex;
        width: 100%;
        height: auto;
        margin-bottom: 35px;
        border-radius: var(--border-radius);
        box-shadow: var(--shadow-values);
        background-color: var(--secondary-background-color);
        animation: fade linear both;
        animation-timeline: view();
        animation-range: var(--fade-ranges);

        @media (max-width: 1220px) {
          flex-direction: column;
          align-items: center;
        }

        .description-area {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: calc(50% - 20px);
          margin: 0 10px;

          @media (max-width: 1220px) {
            width: 100%;
          }

          .title-text {
            text-align: center;
            font-size: 30px;
            margin-bottom: 0;
            padding: 0 10px;
          }

          .position-text {
            text-align: center;
            font-size: 20px;
            margin: 10px 0;
          }

          .description-text {
            text-align: center;
            font-size: 20px;
            padding: 0 10px;
          }

          .meta-data {
            font-size: 20px;
            margin: 10px 0;
          }

          .lang-area {
            display: none;
            width: auto;
            height: auto;
            flex-wrap: wrap;
            justify-content: center;
            margin: 20px 0;
            .lang {
              box-sizing: border-box;
              font-size: 20px;
              font-weight: bold;
              padding: 5px 5px;
              margin: 5px 5px;
              border-radius: var(--border-radius);
              border: 2px solid white;
              transition: all 0.5s ease;
              &:hover {
                background-color: var(--font-color);
                color: var(--secondary-background-color);
              }
            }
          }
        }

        .image-area {
          display: flex;
          width: 50%;
          margin: 15px 0;
          height: auto;
          align-items: center;

          @media (max-width: 1220px) {
            flex-direction: column;
            width: 100%;
          }
          a {
            display: flex;
            justify-content: space-around;
            width: auto;
            margin: 0 8px;

            .image-prop {
              width: 95%;
              border-radius: var(--border-radius);
              box-shadow: var(--shadow-values);
              transition: all 0.5s ease;

              &:hover {
                transform: scale(1.05, 1.05);
              }
            }
          }
        }
      }
    }
  }
}

.project-section {
  .project-page {
    .flex-box {
      display: flex;
      flex-direction: column;

      @media (max-width: 1220px) {
        align-items: center;
      }
      .title {
        font-size: var(--title-font-size);
        margin: 0 0 10px;
        animation: fade linear both;
        animation-timeline: view();
        animation-range: var(--fade-ranges);
      }
      .project-area {
        display: grid;
        grid-template-columns: 33.33% 33.33% 33.33%;

        @media (max-width: 1220px) {
          grid-template-columns: 50% 50%;
        }
        @media (max-width: 830px) {
          grid-template-columns: 100%;
        }
        .project-content {
          box-sizing: border-box;
          display: flex;
          height: auto;
          margin: 10px;
          padding-top: 10px;
          border-radius: var(--border-radius);
          box-shadow: var(--shadow-values);
          background-color: var(--secondary-background-color);
          animation: fade linear both;
          animation-timeline: view();
          animation-range: var(--fade-ranges);

          .description-area {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 10px;
            justify-content: space-between;

            @media (max-width: 1220px) {
              width: 100%;
            }
            a {
              display: flex;
              justify-content: space-around;
              width: auto;

              .image-prop {
                width: 95%;
                border-radius: var(--border-radius);
                box-shadow: var(--shadow-values);
                transition: all 0.5s ease;

                &:hover {
                  transform: scale(1.05, 1.05);
                }
              }
            }

            .title-text {
              font-size: 30px;
              margin: 0;
              margin-top: 25px;
              padding: 0 10px;
              width: fit-content;
              text-align: center;
            }

            .lang-area {
              display: none;
              width: auto;
              height: auto;
              flex-wrap: wrap;
              justify-content: left;
              margin: 20px 0 0;
              .lang {
                box-sizing: border-box;
                font-size: 20px;
                font-weight: bold;
                padding: 5px 5px;
                margin: 5px 5px;
                border-radius: var(--border-radius);
                border: 2px solid white;
                transition: all 0.5s ease;
                &:hover {
                  background-color: var(--font-color);
                  color: var(--secondary-background-color);
                }
              }
            }
            .github-icon {
              font-size: 25px;
              transition: all 0.5s ease;
              margin: 10px;
              &:hover {
                color: var(--secondary-color);
                transform: scale(1.3, 1.3);
              }
            }
          }
        }
      }
    }
  }
}

.project-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.underline {
  transition: all 0.5s ease;

  &:hover {
    color: var(--secondary-color);
  }
}

.underline::after {
  content: '';
  display: flex;
  height: 5px;
  transition: all 0.5s ease;
  transform: scale(0, 1);
}

.underline:hover::after {
  background-color: var(--secondary-color);
  transform: scale(1, 1);
}

.title-text > a {
  margin: 0;
}

#codology-lang {
  display: flex;
  :nth-child(4) {
    display: none;
  }
  :nth-child(5) {
    display: none;
  }
  :nth-child(6) {
    display: none;
  }
  :nth-child(7) {
    display: none;
  }
  :nth-child(8) {
    display: none;
  }
}

#sky-lang {
  display: flex;
  :nth-child(6) {
    display: none;
  }
  :nth-child(7) {
    display: none;
  }
  :nth-child(8) {
    display: none;
  }
}

#portfolio-lang {
  display: flex;
  :nth-child(6) {
    display: none;
  }
  :nth-child(7) {
    display: none;
  }
  :nth-child(8) {
    display: none;
  }
}

#viz-lang {
  display: flex;
  :nth-child(8) {
    display: none;
  }
}

@media (max-width: 1220px) {
  #experience1 {
    order: -1;
  }
}
