

.bottom-bar{
  width: 100%;
  height: 120px;
  bottom: 10px;
  .bottom-bar-page{
    box-sizing: border-box;
    padding: 0 30px;
    margin: 0 auto;
    width: var(--width);

    @media (max-width: 1020px) {
      width: 90vw;
    }
    .container-area{
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      margin: 0 auto;
      background-color: #181818;
      border-radius: 20px;
      align-items: center;
      .made-by{
          
      }
      .social-area{
        a{
          .anchor-icon{
              font-size: 35px;
              margin: 10px;

              &:hover{
                  animation: hover1 1.5s ease-in-out infinite;
                  color: #c2ced7
              }
          }
        }
      }
    }
  }
}

@keyframes hover1 {
    0%{
      transform: scale(1,1);
    }
    
    50%{
      transform: scale(1.25,1.25);
    }
    
    100%{
      transform: scale(1,1);
    }
    }
  
  