.contact-section {
  .text-zone {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    height: auto;

    h1 {
      font-size: 30px;
      margin: 0px;
      // @media (max-width: 600px) {
      //       font-size: var(--responsive-font-size-large);
      //   }
    }

    p {
      font-size: 20px;
      margin-top: 0px;
      // @media (max-width: 600px) {
      //       font-size: var(--responsive-font-size-small);
      //   }
    }
    li {
      list-style: none;
      margin: none;
      .input {
        border-radius: 10px;
      }
      textarea {
        border-radius: 10px;
      }
    }
    li.half {
      width: calc((100% - 5px) / 2);
      margin-right: 5px;
      float: left;
      clear: none;

      &:nth-child(2) {
        margin-right: 0;
      }
    }
  }
}
input[type='text'],
input[type='email'] {
  width: 100%;
  border: 0px;
  background: var(--font-color);
  height: 50px;
  font-size: 17px;
  color: black;
  padding: 0 20px;
  box-sizing: border-box;
  margin-bottom: 5px;
}

textarea {
  width: 100%;
  border: 0;
  background: var(--font-color);
  height: 50px;
  font-size: 17px;
  color: black;
  padding: 20px;
  box-sizing: border-box;
  min-height: 150px;
  resize: vertical;
}

.flat-button {
  color: var(--font-color);
  font-size: 13px;
  text-decoration: none;
  padding: 8px 10px;
  border: 3px solid var(--font-color);
  float: left;
  border-radius: 10px;
  background: 0 0;
  text-align: center;
  margin-right: 10px;
  transition: all 0.5s ease;

  &:hover {
    background: var(--font-color);
    color: black;
    transform: scale(1.1, 1.1);
  }
}
