.education-section{
    .education-page{
      .flex-box{
        display: flex;
        flex-direction: column;
  
        @media (max-width: 1220px) {
          align-items: center;
        }
  
        .title{
          font-size: var(--title-font-size);
          margin: 0;
          margin-bottom: 10px;
        }
  
        .description-area{
          width: 100%;
          .cornell{
            display: flex;
            flex-direction: column;
            background-color: var(--secondary-background-color);
            box-shadow: var(--shadow-values);
            border-radius: var(--border-radius);
            padding: 20px;
            font-size: 25px;
            margin-bottom: 35px;
            .cornell-title{
              display: flex;
              justify-content: space-between;
              p{
                margin: 0 0 5px;
              }
              .title{
                font-size: var(--title-font-size);
              }
            }
          }
          .brhs{
            display: flex;
            flex-direction: column;
            background-color: var(--secondary-background-color);
            box-shadow: var(--shadow-values);
            border-radius: var(--border-radius);
            padding: 20px;
            font-size: 25px;
            .brhs-title{
              display: flex;
              justify-content: space-between;
              p{
                margin: 0 0 5px;
              }
              .title{
                font-size: var(--title-font-size);
              }
            }
          }
        }
      }
    }
  }
  